


.logLayer {
    padding: 16px;
}


.tabContainer {
    --borderRadius: 16px;
    background-color: #272727;
    border-bottom-left-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
    border-top-right-radius: var(--borderRadius);

}

.customFormElement.invalid .customButtonElement {
    filter: saturate(0);
    background-color: hsl(180, 0%, 9%);

}


.customFormElement .infoPanel {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.customFormElement .infoPanel .customButtonElement,
.customFormElement .infoPanel .customErrorMessage {
    margin: 16px;
}


.customTable.databaseData th .labelElement {
    display: flex;
    align-items: center;
    justify-content: center;
} 

.customTable.databaseData th .labelElement .icon {
    --size: 24px;
    width: var(--size);
    height: var(--size);
    transform: none;
    transition: all 100ms ease-in-out;
    cursor: pointer;
}

.customTable.databaseData th .labelElement .icon:hover  {
    transform: translateY(4px);
    
}


.customTable.databaseData th .labelElement button {
    margin-left: 8px;
    background: none;
    outline: none;
    border: none;
    
}