


.logLayer {
    padding: 16px;
}


.tabContainer {
    --borderRadius: 16px;
    background-color: #272727;
    border-bottom-left-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
    border-top-right-radius: var(--borderRadius);

}

.customFormElement.invalid .customButtonElement {
    filter: saturate(0);
    background-color: hsl(180, 0%, 9%);

}


.customFormElement .infoPanel {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.customFormElement .infoPanel .customButtonElement,
.customFormElement .infoPanel .customErrorMessage {
    margin: 16px;
}