nav {
    grid-area: nav;
    background-color: #003434;
    padding: 16px;

}


nav button {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 64, 64);
    outline: none;
    border: none;
    border-radius: 8px;
    padding-right: 12px ;
    width: 100%;

    align-items: center;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    margin-bottom: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.088);


}

nav button.selected {
    background-color: rgb(0, 52, 52);
}

nav button:hover {
    background-color: #004949;
}

nav button .text {
    font-size: 16px;
    margin-left: 16px;
    margin-right: 16px;
    color: white;
    font-family: 'Open-Sans', sans-serif;
    font-weight: normal;

}

nav button img {
    margin: 2px;
    height: 50px;
}
