nav {
    grid-area: nav;
    background-color: #003434;
    padding: 16px;

}


.stockLayer {
    --margin: 32px;
    --leftGridMargin: 16px;
    width:  calc(100% - 2 * var(--margin));
    margin: var(--margin);
    display: grid;

    grid-template-areas: 
        "heading heading"
        "graph info"
        "overview info";

    grid-template-columns: 1fr 1fr;


}

@media (max-width: 1400px) {
    .stockLayer {
        grid-template-areas: 
            "heading"
            "graph "
            "overview"
            "info";

        grid-template-columns: auto;
    }
    
}

.stockLayer .graphContainer {
    grid-area: graph;
}
.stockLayer .overviewContainer {
    grid-area: overview;
}
.stockLayer .informationContainer {
    grid-area: info;
}

.stockLayer .overviewContainer .content {
    overflow-x: auto;
}


.stockLayer .stockHeading {
    margin-left: var(--leftGridMargin);
}




.stockLayer .stockInfo {
    margin: var(--leftGridMargin);
}