

/* */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-family: 'Open-Sans', sans-serif;


}

:root {
    --textColor: #999999;
    --inputBackgroundColor: #171717;
    --defaultPadding: 8px;
    --inputBackgroundColorHover: hsl(0, 0%, 6%);
}

body {
    display: grid;
    grid-template-areas: "nav main";
    grid-template-columns: auto 1fr;
    background-color: #1c1c1c;
    color: var(--textColor);
    overflow: none;

}

body main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-y: auto;
}


/* Components */
.customContainer .content {
    border-radius: 16px;
    border: hsl(0, 0%, 25%) solid 1.5px;
    padding: 16px;
    margin: 16px;
    height: max-content;
}

.customContainer .containerHeading {
    font-weight: 700;
    font-size: 24px;
    margin-left: 16px;
}


nav button {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 64, 64);
    outline: none;
    border: none;
    border-radius: 8px;
    padding-right: 12px ;
    width: 100%;

    align-items: center;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    margin-bottom: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.088);


}

nav button.selected {
    background-color: hsl(180, 100%, 12%);
}

nav button:hover {
    background-color: #004949;
}

nav button .text {
    font-size: 16px;
    margin-left: 16px;
    margin-right: 16px;
    color: white;
    font-family: 'Open-Sans', sans-serif;
    font-weight: normal;

}

nav button img {
    margin: 2px;
    height: 50px;
}


.customTable table {
    border-collapse: collapse;
    width: 100%;
}

.customTable tr:not(.header) {
    border-top: hsl(0, 0%, 27%) 1px solid;
}



.customTable th {
    font-size: 1.1rem;
}

.customTable td, th {
    padding: 4px;
    margin: 4px;
    text-align: start;
}

.customTable td {
    outline: none;
    padding: 8px;
}

.customStockInfo {
    display: flex;
    flex-direction: column;
}

.customStockInfo .stockName {
    font-size: 28px;
    font-weight: 800;
    margin-right: 16px;
    width: max-content;
}

.customStockInfo .statContainer {
    display: flex;
    flex-direction: row;
    width: fit-content;
    flex-wrap: wrap;
}

.customStockInfo .statContainer .stat {
    margin: 4px;
    width: max-content;
    display: flex;
    flex-direction: row;
}

.customStockInfo .statContainer .stat .statName {
    margin-right: 4px;
    font-size: 12px;
}

.customStockInfo .statContainer .stat .statLabel {
    font-size: 12px;
}

.customTabs {
    display: flex;
    flex-direction: row;
}

.customTabs .customTab {
    background-color: #151515;
    padding: 16px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    font-size: 16px;
    font-weight: 800;
    user-select: none;
}

.customTabs .customTab:hover {
    background-color: hsl(0, 0%, 12%);
}

.customTabs .customTab .icon {
    height: 24px;
    margin-right: 8px;
}

.customTabs .customTab.selected {
    background-color: #272727;
}

.linkedToCustomTab:not(.open) {
    display: none;
}

.linkedToCustomTab {
    padding: 16px;

}









.customDropdownElement .inputContainer,
.customInputElement{
    --border-radius: 12px;
    background-color: var(--inputBackgroundColor);
    padding-top: 8px;
    
    padding-left: 12px;
    width: fit-content;

    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
    border-bottom: hsl(0, 0%, 20%) solid 3px;
    transition: all 250ms ease-in-out;
    height: 50px;


}

.customDropdownElement {
    position: relative;
    cursor: pointer;
}

.customInputElement.valid {
    border-bottom-color: #005500;
}



.customInputElement:focus-within {
    border-bottom-color: #007700;
}

.customInputElement.invalid {
    border-bottom-color: #550000;
}

.customDropdownElement .selectedOption,
.customInputElement .input {
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    font-family: Open-Sans, sans-serif;
    outline: none;
    padding-bottom: 8px;
    padding-left: 0;

}

.customDropdownElement .selectedOption {
    width: 250px;
}

.customDropdownElement {
    user-select: none;
}

/* Dropdown Animation */
.customDropdownElement .dropdown {
    flex-direction: column;
    left: 0;
    right: 0;
    transform: translateY(-20px);
    opacity: 0;
    height: 0;
    display: none;
    z-index: 100;


}

.customDropdownElement .dropdown .item {
    display: none;
}
.customDropdownElement.open .dropdown .item {
    display: block;
}

.customDropdownElement.open .dropdown {
    display: flex;
    transform: translateY(0%);
    opacity: 1;
    height: fit-content;
}

/* Dropdown Styling */
.customDropdownElement .dropdown .item {
    --border-color: hsl(0, 0%, 20%);
    --border-width: 2px;
    --border-radius: 12px;
    background-color: var(--inputBackgroundColor);
    padding: 12px;
    border-left: var(--border-color) solid var(--border-width);
    border-right: var(--border-color) solid var(--border-width);
    transition: all 250ms ease-in-out;

}

.customDropdownElement .dropdown .item:last-child {
    border-bottom: var(--border-color) solid var(--border-width);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}

.customDropdownElement .dropdown .item:hover {
    background-color: var(--inputBackgroundColorHover);
}

.customDropdownElement .label,
.customInputElement .label {

    font-size: smaller;
    font-weight: 500;
}

.customFormElement .customInputElement .input {
    width: 250px;
}

.customFormElement .inputElementContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.customDropdownElement,
.customFormElement .inputElementContainer .customInputElement {
    margin-right: 16px;
    margin-bottom: 16px;
}


h2 {
    font-size: 24px;

}


.customDropdownElement.open .inputContainer {
    border-bottom: hsl(0, 0%, 40%) solid 3px;
}


.customDropdownElement .dropdown {
    display: flex;
    position: absolute;
    height: 0;
    transition: all 250ms ease-in-out;
}




.customButtonElement {
    --button-height: 64px;
    border: none;
    outline: none;
    height: var(--button-height);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.customButtonElement.hasText {
    padding: var(--defaultPadding);
}

.customButtonElement .icon {
    max-height: 40px;
    margin: 4px;
}


.customButtonElement .label {
    font-size: 1rem;
    font-family: "Open-Sans", sans-serif;
    margin: 8px;


}


/* Styles */

.customButtonElement {
    background-color: #003434;
    transition: all 250ms ease-in-out;
    justify-content: center;
}

.customButtonElement:hover {
    background-color: hsl(180, 100%, 9%);
}

.customButtonElement.clean {
    position: relative;
}


.customButtonElement.clean .label {
    user-select: none;
    position: absolute;
    transform: translateY(calc(var(--button-height) * 0.7));
    transition: all 250ms ease-in-out;
    opacity: 0;
    z-index: 100;
    width: max-content;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;


}

.customButtonElement.clean:hover .label {
    transform: translateY(calc(var(--button-height)*0.8));
    opacity: 1;
    user-select: auto;
    background-color: #151515;
    border-radius: 4px;
}



.customButtonElement .label {
    color: #fff;
}