

/* */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-family: 'Open-Sans', sans-serif;

}

:root {
    --textColor: #999999;
}

body {
    display: grid;
    grid-template-areas: "nav main";
    grid-template-columns: auto 1fr;
    background-color: #1c1c1c;
    color: var(--textColor);
}

body main {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


/* Components */
.customContainer .content {
    border-radius: 16px;
    border: hsl(0, 0%, 25%) solid 1.5px;
    padding: 16px;
    margin: 16px;
    height: max-content;
}

.customContainer .containerHeading {
    font-weight: 700;
    font-size: 24px;
    margin-left: 16px;
}


nav button {
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 64, 64);
    outline: none;
    border: none;
    border-radius: 8px;
    padding-right: 12px ;
    width: 100%;

    align-items: center;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    margin-bottom: 8px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.088);


}

nav button.selected {
    background-color: hsl(180, 100%, 12%);
}

nav button:hover {
    background-color: #004949;
}

nav button .text {
    font-size: 16px;
    margin-left: 16px;
    margin-right: 16px;
    color: white;
    font-family: 'Open-Sans', sans-serif;
    font-weight: normal;

}

nav button img {
    margin: 2px;
    height: 50px;
}


.customTable table {
    border-collapse: collapse;
    width: 100%;
}

.customTable tr:not(.header) {
    border-top: hsl(0, 0%, 27%) 1px solid;
}



.customTable th {
    font-size: 1.1rem;
}

.customTable td, th {
    padding: 4px;
    margin: 4px;
    text-align: start;
}

.customTable td {
    outline: none;
    padding: 8px;
}