

/* */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    font-family: 'Open-Sans', sans-serif;

}

:root {
    --textColor: #999999;
}

body {
    display: grid;
    grid-template-areas: "nav main";
    grid-template-columns: auto 1fr;
    background-color: #1c1c1c;
    color: var(--textColor);
}

